@font-face {
  font-family: "iconfont"; /* Project id 3763560 */
  src: url('iconfont.woff2?t=1668086998909') format('woff2'),
       url('iconfont.woff?t=1668086998909') format('woff'),
       url('iconfont.ttf?t=1668086998909') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e664";
}

.icon-xitongshouye:before {
  content: "\e634";
}

.icon-gerenzhongxin:before {
  content: "\e6a4";
}

